ServiceBusApplication/RaveUI/Resources/nxsd_schema1.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:encoding="UTF-8">
   <xsd:element name="html">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="head">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="meta">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="meta">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="link">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="link">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="title" type="xsd:string"/>
                                                      </xsd:sequence>
                                                      <xsd:attribute name="rel" type="xsd:string"/>
                                                      <xsd:attribute name="href" type="xsd:string"/>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                             <xsd:attribute name="href" type="xsd:string"/>
                                             <xsd:attribute name="rel" type="xsd:string"/>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="name" type="xsd:string"/>
                                    <xsd:attribute name="content" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                           <xsd:attribute name="charset" type="xsd:string"/>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="header">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="div">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="img">
                                 <xsd:complexType>
                                    <xsd:attribute name="src" type="xsd:string"/>
                                    <xsd:attribute name="alt" type="xsd:string"/>
                                    <xsd:attribute name="style" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="nav">
                                 <xsd:complexType>
                                    <xsd:attribute name="class" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                           <xsd:attribute name="class" type="xsd:string"/>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="class" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="hr"/>
            <xsd:element name="body" type="xsd:string"/>
            <xsd:element name="footer">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="div" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="div">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="div" minOccurs="0">
                                          <xsd:complexType>
                                             <xsd:attribute name="class" type="xsd:string"/>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="span">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="a" maxOccurs="unbounded" minOccurs="0">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="svg">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="path">
                                                                     <xsd:complexType>
                                                                        <xsd:attribute name="d" type="xsd:string"/>
                                                                        <xsd:attribute name="stroke" type="xsd:string"/>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="rect" minOccurs="0">
                                                                     <xsd:complexType>
                                                                        <xsd:attribute name="width" type="xsd:integer"/>
                                                                        <xsd:attribute name="height" type="xsd:integer"/>
                                                                        <xsd:attribute name="x" type="xsd:integer"/>
                                                                        <xsd:attribute name="y" type="xsd:integer"/>
                                                                        <xsd:attribute name="rx" type="xsd:integer"/>
                                                                        <xsd:attribute name="ry" type="xsd:integer"/>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="circle">
                                                                     <xsd:complexType>
                                                                        <xsd:attribute name="cx" type="xsd:integer"/>
                                                                        <xsd:attribute name="cy" type="xsd:integer"/>
                                                                        <xsd:attribute name="r" type="xsd:integer"/>
                                                                        <xsd:attribute name="stroke" type="xsd:string"/>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                               <xsd:attribute name="fill" type="xsd:string"/>
                                                               <xsd:attribute name="stroke-linecap" type="xsd:string"/>
                                                               <xsd:attribute name="stroke-linejoin" type="xsd:string"/>
                                                               <xsd:attribute name="stroke-width" type="xsd:integer"/>
                                                               <xsd:attribute name="class" type="xsd:string"/>
                                                               <xsd:attribute name="viewBox" type="xsd:string"/>
                                                               <xsd:attribute name="stroke" type="xsd:string"/>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                      <xsd:attribute name="class" type="xsd:string"/>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="p">
                                                   <xsd:complexType mixed="true">
                                                      <xsd:sequence>
                                                         <xsd:element name="br" maxOccurs="unbounded"/>
                                                         <xsd:element name="p">
                                                            <xsd:complexType mixed="true">
                                                               <xsd:sequence>
                                                                  <xsd:element name="br" maxOccurs="unbounded"/>
                                                               </xsd:sequence>
                                                               <xsd:attribute name="style" type="xsd:string"/>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                             <xsd:attribute name="class" type="xsd:string"/>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="class" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                           <xsd:attribute name="class" type="xsd:string"/>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="class" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="lang" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>