ServiceBusApplication/APIGateway/Resources/WSDLs/APIGateway.wsdl

<definitions targetNamespace="http://soa.syneoshealth.com/Roche/wsdl/APIGateway" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.syneoshealth.com/Roche/wsdl/APIGateway" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xocsag="http://xmlns.oracle.com/SitePaymentsServices/APIToken/GetAPIToken" xmlns:scas="http://syneoshealth.com/APIGateway/Schemas">
  <types>
    <xsd:schema targetNamespace="http://soa.syneoshealth.com/Roche/wsdl/APIGateway/types" elementFormDefault="qualified"/>
    
    <xsd:schema>
      <xsd:import schemaLocation="../Schemas/APIGateway.xsd" namespace="http://syneoshealth.com/APIGateway/Schemas"/>
    </xsd:schema>
  </types>
  <message name="getAPITokenRequest">
    <part name="part1" element="scas:GetwayTokenReq"/>
  </message>
  <message name="getAPITokenResponse">
    <part name="part1" element="scas:processResponse"/>
  </message>
  <message name="getRequest">
    <part name="part" element="scas:getReq"/>
  </message>
  <message name="getResponse">
    <part name="part1" element="scas:processResponse"/>
  </message>
  <portType name="execute_ptt">
    <operation name="Token">
      <input message="tns:getAPITokenRequest"/>
      <output message="tns:getAPITokenResponse"/>
    </operation>
    <operation name="get">
      <input message="tns:getRequest"/>
      <output message="tns:getResponse"/>
    </operation>
    <operation name="post">
      <input message="tns:postRequest"/>
      <output message="tns:postResponse"/>
    </operation>
    <operation name="patch">
      <input message="tns:patchRequest"/>
      <output message="tns:patchResponse"/>
    </operation>
  </portType>
  <binding name="execute_pttSOAP11Binding" type="tns:execute_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Token">
      <soap:operation style="document" soapAction="http://soa.syneoshealth.com/Roche/wsdl/APIGateway/Token"/>
      <input>
        <soap:body use="literal" parts="part1"/>
      </input>
      <output>
        <soap:body use="literal" parts="part1"/>
      </output>
    </operation>
    <operation name="get">
      <soap:operation style="document" soapAction="http://soa.syneoshealth.com/Roche/wsdl/APIGateway/get"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part1"/>
      </output>
    </operation>
    <operation name="post">
      <soap:operation style="document" soapAction="http://soa.syneoshealth.com/Roche/wsdl/APIGateway/post"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
    </operation>
	<operation name="patch">
      <soap:operation style="document" soapAction="http://soa.syneoshealth.com/Roche/wsdl/APIGateway/patch"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
    </operation>
  </binding>
  <message name="postRequest">
    <part name="part" element="scas:postRequest"/>
  </message>
  <message name="postResponse">
    <part name="part" element="scas:processResponse"/>
  </message>
  <message name="patchRequest">
    <part name="part" element="scas:patchRequest"/>
  </message>
  <message name="patchResponse">
    <part name="part" element="scas:processResponse"/>
  </message>
</definitions>