ServiceBusApplication/APIGateway/Resources/Schemas/APIGateway.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://syneoshealth.com/APIGateway/Schemas"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="GetwayTokenReq">
    <complexType>
      <sequence>
        <element name="input" type="string" minOccurs="0"/>
        <element name="URL" type="string" minOccurs="0"/>
        <element name="CONSUMER_KEY" type="string" minOccurs="0"/>
        <element name="CONSUMER_SECRET" type="string" minOccurs="0"/>
        <element name="USER_NAME" type="string" minOccurs="0"/>
        <element name="PASSWORD" type="string" minOccurs="0"/>
        <element name="GRANT_TYPE" type="string" minOccurs="0"/>
        <element name="Application" type="string" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="ResultData" type="string"/>
        <element name="StatusCode" type="string"/>
        <element name="StatusMessage" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="getReq">
    <complexType>
      <sequence>
        <element name="Key" type="string" minOccurs="0"/>
        <element name="URL" type="string" minOccurs="0"/>
        <element name="Parameter2" type="string" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
  <element name="postRequest">
    <complexType>
      <sequence>
        <element name="Key" type="string" minOccurs="0"/>
        <element name="URL" type="string" minOccurs="0"/>
        <element name="Data" type="string" minOccurs="0"/>
        <element name="ContentType" type="string" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
  <element name="patchRequest">
    <complexType>
      <sequence>
        <element name="Key" type="string" minOccurs="0"/>
        <element name="URL" type="string" minOccurs="0"/>
        <element name="Data" type="string" minOccurs="0"/>
        <element name="ContentType" type="string" minOccurs="0"/>
      </sequence>
    </complexType>
  </element>
</schema>